.recipes {
    padding-top: 100px;
    padding-bottom: 215px;
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.recipes__videos {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-top: 80px;
}
.recipes__iframe {
    display: block;
    width: 560px;
    height: 315px;
    border-width: 0;
}
.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin: 24px 0 0 0;
}
.recipes__title {
    margin: 0 0 0 80px;
    margin-bottom: 24px;
    font-size: 44px;
    line-height: 52px;
    max-width: 500px;
    color: #ffffff;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
}
.recipes__subtitle {
    max-width: 438px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0 0 80px;
    color: #ffffff;
}
