.page {
    padding: 0;
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", sans-serif;
    font-family: "Noto Serif", serif;
    font-size: 16px;
    line-height: 20px;
}

.header {
    background-color: #ffffff;
    background-image: url(../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
}

.nav {
    display: flex;
    justify-content: flex-end;
}
.nav__links {
    display: flex;
    margin: 30px 80px 0 0;
    column-gap: 30px;
    padding: 0;
    list-style: none;
}

.logo {
    position: absolute;
    margin: 30px 0 80px 30px;
    width: 125px;
    height: 142px;
}

.nav__link {
    color: #000000;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.header__title {
    font-size: 60px;
    line-height: 72px;
    max-width: 729px;
    margin: 202px 0 20px 80px;
}

.header__span {
    display: block;
    color: #2f80ed;
    font-style: italic;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-weight: normal;
}

.header__description {
    margin-top: 28px;
    margin-left: 80px;
    max-width: 683px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}

.header__footer {
    margin: 0 0 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header__hours {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__paragraph {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.header__address {
    margin: 0 80px 40px 0;
    display: flex;
    justify-content: flex-end;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}

.content {
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 720px;
    max-height: 800px;
}

.recipes {
    position: relative;
    top: 100px;
    bottom: 215px;
    font-style: normal;
    color: #ffffff;
}

.recipes__title {
    margin: 0 0 0 80px;
    max-width: 580px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}
.recipes__subtitle {
    margin: 0 0 80px 80px;
    max-width: 430px;
    font-family: "Noto Serif", "Times New Roman", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}
.recipes__videos {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 215px;
    width: 400px;
    height: 267px;
}
.recipes__video-caption {
    margin-top: 24px;
    margin-bottom: 215px;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
